<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><i class="fa-solid fa-leaf"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" href="https://67a0d9641d24d0149c11296a--animated-marzipan-a36630.netlify.app/">Home</a>
          <a class="nav-link" href="/listings">All Product</a>
          <a class="nav-link" href="/listings/new">Add new Product</a>
        </div>
      </div>
    </div>
  </nav>
