   <% layout("/layouts/boilerplate.ejs") %>

   <div class="row">
    <div class="col-8 offset-2">
    <h3>Create a New Product</h3>
    
    <form method="POST" action="/listings" class="needs-validation" novalidate >
        <div>
            <lable for="title" class="form-label"> Enter Title</lable>
            <input name="listing[title]" type="text"  class = "form-control" required>

            <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please enter title.
              </div>

        </div>
        
        <div>
            <lable for="image" class="form-label"> Enter Image_URL</lable>
            <textarea name="listing[image]"  type="text" class = "form-control" required></textarea>

            <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please enter valid image_URL.
              </div>
        </div>
    
        <div class="row">
        <div class="mb-3 col-md-4">
            <lable for="Capacity" class="form-label"> Enter Capacity</lable>
            <input name="listing[Capacity]"  type="text" class = "form-control" required>

            <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please enter product Capacity.
              </div>
        </div>
        
        <div class="mb-3 col-md-8">
            <lable for="Material" class="form-label"> Enter Material</lable>
            <input name="listing[Material]"  type="text" class = "form-control" required>

            <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please enter product Material.
              </div>
              
        </div>
       </div>

        <div>
            <lable for="Price" class="form-label"> Enter Price</lable><br>
            <input name="listing[Price]" type="number" class = "form-control" required>

            <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please enter product Price.
              </div>

        </div>
        <br>
        <button class="btn btn-dark add-btn">Add</button>
        <!-- <br><br> -->
    </form>
</div>
</div>
